Description=Envoy Load Balance for Sertifikasiku
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/envoy --config-path /opt/envoy/envoy.yaml
TimeoutStartSec=0

[Install]
WantedBy=default.target